.skills{
     display: flex;
     flex-direction: column;
     width:100%;
}

.skills_section{
    display: contents;
    justify-content: space-between;
    margin: 12px 0px;
}

.skills_section_title{
    font-size: 24px;
    font-weight:600px;
}

.skills_list{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: flex-end;
}

@media only screen and (max-width:720px){
    .skills_list{
        max-width: 100%;
        justify-content: center;
    }

    .skills_section{
        flex-direction: column;
       text-align: center;
    }
}